html {
	background-color: #e6f5ff;	
}

body {
	background-image: url("img/background.jpg");
	background-size: 100% 100%;
	min-height: 100%;
  	min-width: 1024px;
  	width: 80%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
  	margin: auto;
  	margin-top: 0%;
  	margin-left: 10%;
}

.start {
	font-family: GeoSlab703 Md BT;
	font-size: 19px;
	text-align: center;
	color: #cc0099;
	border: 2px solid gray; 
	outline-color: #ffd9b3;
	outline-style: outset;
	border-radius: 5px;
	background-color: #FFEFD5;
	opacity: 0.7;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10px;
}

.buttonplay, .buttonclose {
	padding: 15px 25px;
	font-family: arial;
	
	text-align: center;
	cursor: pointer;	
	background-color: #0066ff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 7px #999;	
}
.buttonplay {
	font-size: 15px;
	color: #fff;
	margin-left: 42%;
	margin-top: 7%;
}

.buttonclose {
	font-size: 14px;
	color: #fff;
	margin-left: 44.5%;
	margin-top: 1.5%;
}

.buttonplay:hover , .buttonclose:hover {
	background-color: #0039e6;
}

.buttonplay:active, .buttonclose:active {
  background-color: #0039e6;
  box-shadow: 0 3px #666;
  text-transform: (1px);
}